beautifulsoup4==4.13.1
numpy==1.26.4
pandas==2.2.3
plotly==5.24.1
prophet==1.1.5
pyecharts==2.0.8
pywebview==5.4
PyYAML==6.0.2
Requests==2.32.3
scikit_learn==1.6.1
streamlit==1.43.2
streamlit_echarts==0.4.0
streamlit_searchbox==0.1.20
streamlit-aggrid==1.1.0
yfinance==0.2.52
XlsxWriter==3.2.2
wikiquote==0.1.17